In [2]:
%reload_ext autoreload
%autoreload 2
import os, sys
import re
import json
import glob
import datetime
from collections import Counter

import pandas as pd
from matplotlib import pyplot as plt 
import seaborn  as sns 

# from nltk.corpus import stopwords
# from wordcloud import WordCloud

In [3]:
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)



from src.loader import SlackDataLoader
from src import utils
print (rpath)

c:\Users\HP\Desktop\10xfile\Week_01\slack-data-analysis

In [112]:

data = SlackDataLoader('../Data/anonymized/')
week8 = data.slack_parser('../Data/anonymized/all-week8/')
#data_sorted = data_week8.sort_values(by='reply_count', ascending=True)
#data_week8.head(1)['sender_id'].values[0]
week8.head()

,msg_type,msg_content,sender_id,time_msg,msg_dist,time_thread_st,reply_users,reply_count,reply_users_count,tm_thread_end,channel
0,message,welcome to week 3 of Joanne academy intensive ...,Bridget Glover,1662321161.159559,text,0,0,0,0,0,
1,message,storetype - differentiates between 4 different...,Cynthia Davis,1662350972.858879,text,0,0,0,0,0,
2,message,promo2 - promo2 is a continuing and consecutiv...,Cynthia Davis,1662351348.306779,text,0,0,0,0,0,
3,message,*the data cleaning process will involve buildi...,Cynthia Davis,1662352045.633829,text,0,0,0,0,0,
4,message,<@u03ujn29y4c> i have dropped a resource regar...,David Nguyen,1662353903.169709,user,1662353903.169709,U03UJN29Y4C,1,1,1662357373.150459,

In [113]:
#Parse the data inside week1 channel
data1 = SlackDataLoader('..Data/anomized')
week1 = data.slack_parser('../Data/anonymized/all-week1/')
week1.head()

,msg_type,msg_content,sender_id,time_msg,msg_dist,time_thread_st,reply_users,reply_count,reply_users_count,tm_thread_end,channel
0,message,<https://towardsdatascience.com/how-to-fill-mi...,Bryan Clark,1661158502.784099,link,0,0,0,0,0,
1,message,"imputation using k-nn, imputation using multiv...",Dennis Parker,1661158692.172369,text,1661158692.172369,"U03U1GHT39V,U03UJGRN5E0",2,2,1661159006.632649,
2,message,<https://towardsdatascience.com/6-different-wa...,Dennis Parker,1661158702.777369,link,0,0,0,0,0,
3,message,u can use smote or mode to impute categorical ...,Daniel Montgomery,1661158767.626859,text,1661158692.172369,0,0,0,0,
4,message,:+1:thanks,Dennis Parker,1661159006.632649,emoji,1661158692.172369,0,0,0,0,

In [114]:
#Parse the data inside week3
data3 = SlackDataLoader('..Data/anomized')
week3 = data.slack_parser('../Data/anonymized/all-week3/')
week3.head()

,msg_type,msg_content,sender_id,time_msg,msg_dist,time_thread_st,reply_users,reply_count,reply_users_count,tm_thread_end,channel
0,message,welcome to week 3 of Joanne academy intensive ...,Bridget Glover,1662321161.159559,text,0,0,0,0,0,
1,message,storetype - differentiates between 4 different...,Cynthia Davis,1662350972.858879,text,0,0,0,0,0,
2,message,promo2 - promo2 is a continuing and consecutiv...,Cynthia Davis,1662351348.306779,text,0,0,0,0,0,
3,message,*the data cleaning process will involve buildi...,Cynthia Davis,1662352045.633829,text,0,0,0,0,0,
4,message,<@u03ujn29y4c> i have dropped a resource regar...,David Nguyen,1662353903.169709,user,1662353903.169709,U03UJN29Y4C,1,1,1662357373.150459,

In [117]:
# identifies reaction for week8
data = SlackDataLoader('../Data/anonymized/')
week1_reaction = data.slack_reaction('../Data/anonymized/all-week1/')
week1_reaction.head(10)

,reaction_name,reaction_count,reaction_users,message,user_id,channel
0,+1,1,U03UFV7HFNF,<!channel> please note that our core hours ran...,U03T89ACUUW,Random
1,white_check_mark,1,U03TEPYRM2P,in other words - don't struggle alone for a lo...,U03T89ACUUW,Random
2,raised_hands,1,U03UD68RQH3,"try it in incognito window, works fine for me ...",U03UUR571A5,Random
3,+1,4,"U03UJN29Y4C,U03V785NLSU,U03UG1RTXAP,U03UKGSDGSG",the project structure that is suggested: <http...,U03U1HAG9TR,Random
4,+1,3,"U03V8LHPDME,U03UP7V9Q57,U03UYNR4TS4",i had the same issue until i cleared the cache...,U03V785NLSU,Random
5,white_check_mark,1,U03UJGP0C68,you can try by clearing cache,U03UDBUL7CL,Random
6,white_check_mark,1,U03UVHCV6KB,you can follow this to solve the problem\n<htt...,U03UYNR4TS4,Random
7,+1,1,U03UUMM7Y8H,"for the four bullets, i think we can use\n• nu...",U03UVHCV6KB,Random
8,+1,2,"U03UFV7TUTV,U03UVHCV6KB",<https://pandas.pydata.org/docs/reference/api/...,U03UKL27B0R,Random
9,+1,1,U03UVHCV6KB,check this site. it mighy help\n<https://www.t...,U03UKGSDGSG,Random

In [118]:
# identifies reaction for week8
data = SlackDataLoader('../Data/anonymized/')
week3_reaction = data.slack_reaction('../Data/anonymized/all-week3/')
week3_reaction.head(10)

,reaction_name,reaction_count,reaction_users,message,user_id,channel
0,pray,5,"U03U1FNPEUX,U03UG1RTXAP,U03UFV7TUTV,U03UG4Q7V4...","hello dears, how is your day? thanks to god w...",U03UGB3T3MY,Random
1,+1,1,U03UUMR26Q1,"hello dears, how is your day? thanks to god w...",U03UGB3T3MY,Random
2,+1,1,U03U9FWPNCE,this week is individual work,U03UP7V9Q57,Random
3,heavy_check_mark,1,U03UJKJGRAQ,i'd like more explanation on the promo2 column...,U03UJN29Y4C,Random
4,+1,1,U03V6HMRPGQ,yes saving a copy on Michelle does the job,U03UJN29Y4C,Random
5,sunglasses,1,U03V6HMRPGQ,<https://Michelle.com/joannexac/pythonpackages...,U03UG4Q7V42,Random
6,raised_hands,1,U03UG4Q7V42,thank you <@u03ujn29y4c>.\n<@u03ug4q7v42> alwa...,U03V6HMRPGQ,Random
7,+1,1,U03UKL27B0R,"okay thank you, that what come to my mind now",U03V6HMRPGQ,Random
8,heavy_check_mark,1,U03V6HMRPGQ,its in the store data set that you find supple...,U03U1FNPEUX,Random
9,+1,1,U03V6HMRPGQ,for time data forward fill is good i think,U03U1FNPEUX,Random

In [107]:

grouped = week8.groupby('sender_id').agg({'reply_count': 'sum'}).reset_index()
sorted_grouped = grouped.sort_values(by='reply_count', ascending = False).reset_index()
top_10_messagecount = sorted_grouped.head(10)
print(top_10_messagecount)

   index              sender_id  reply_count
0     14         Lisa Dickerson           11
1     22            Susan Lewis            8
2      4          Cynthia Davis            7
3      5           David Nguyen            6
4     13       Kenneth Williams            6
5      3  Christopher Hernandez            4
6      9         Gregory Bowman            2
7     11      Jennifer Carrillo            1
8      2         Bridget Glover            0
9      0       Albert Rodriguez            0

In [108]:
#top 10 user bty reply 
grouped = week8.groupby('sender_id').agg({'reply_users_count': 'sum'}).reset_index()
sorted_grouped = grouped.sort_values(by='reply_users_count', ascending = False).reset_index()
top_10_messagecount = sorted_grouped.head(10)
print(top_10_messagecount)
print(grouped)

   index              sender_id  reply_users_count
0     14         Lisa Dickerson                  8
1     13       Kenneth Williams                  6
2     22            Susan Lewis                  5
3      4          Cynthia Davis                  4
4      5           David Nguyen                  4
5      3  Christopher Hernandez                  4
6      9         Gregory Bowman                  1
7     11      Jennifer Carrillo                  1
8      2         Bridget Glover                  0
9      0       Albert Rodriguez                  0
                sender_id  reply_users_count
0        Albert Rodriguez                  0
1             Ariel Lopez                  0
2          Bridget Glover                  0
3   Christopher Hernandez                  4
4           Cynthia Davis                  4
5            David Nguyen                  4
6              Diane Cruz                  0
7       Gabrielle Barajas                  0
8        Glenn Richardson                  0
9          Gregory Bowman                  1
10             James Mann                  0
11      Jennifer Carrillo                  1
12         Kelsey Shields                  0
13       Kenneth Williams                  6
14         Lisa Dickerson                  8
15          Lynn Shepherd                  0
16       Mason Harrington                  0
17      Matthew Rodriguez                  0
18            Rachel Mann                  0
19           Robert James                  0
20         Roger Gonzalez                  0
21            Steven Haas                  0
22            Susan Lewis                  5
23           Tammy Foster                  0
24          Thomas Rivera                  0
25          Tiffany Crane                  0
26           Trevor Duffy                  0

In [111]:
sum_replies_reactions = week8_reaction['reaction_count'] + top_10_messagecount['reply_users_count']
print(sum_replies_reactions)
#plot number of messsage in the channel vs sum of number of replies and reactions. number of message by seeing the index or counting all the id

0     9.0
1     7.0
2     6.0
3     8.0
4     7.0
     ...
77    NaN
78    NaN
79    NaN
80    NaN
81    NaN
Length: 82, dtype: float64